// Made Palette 

// Black/Greys
$colourBlack: #000;
$colourGreyDark: #5F5F5F;
$colourGrey: #BFBFBF;
$colourGreyLight: #DADCDC;
$colourGreyLighter: #f5f5f5;
$colourWhite: #fff;


// Colours
$colourYellow: #FFEE60;
$colourYellowLight: #FEFAD7;
$colourGreen: #6FC72D;
$colourPink: #FFE5E5;
$colourFacebook: #3b5998;

// Semantic colours
$alertBackground: $colourPink;
$alertBorder: darken($colourPink, 40%);